@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3,
  h4 {
    font-size: 2em;
  }
  h5,
  h6 {
    font-size: 1.4em;
  }
}

@layer components {
  .btn {
    padding: 0.4rem 1rem;
  }
  .grid-layout {
    @apply grid gap-4;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
  }
  .card {
    @apply w-full p-4 bg-[#1f1f1f] hover:bg-[#2b2b2b] hover:shadow-2xl shadow-[#2b2b2b] rounded-sm transition-colors duration-300;
  }
}

/*
  custom scroll bar
*/

* {
  scrollbar-width: auto;
  scrollbar-color: #0f3331 #121212;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #121212;
}

*::-webkit-scrollbar-thumb {
  background-color: #0f3331;
  border-radius: 10px;
  border: 0px solid #ffffff;
}
